{% extends "suncoin/index.html" %}
{% load static %}

{% block maincontent %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b><img src="{% static 'suncoin/img/suncoin-up.png' %}"></b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Password Rest</p>

    <div class="margin-top-30 text-center">
        <p>
            Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
        </p>
    </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock maincontent %}