{% extends "suncoin/index.html" %}
{% load static %}

{% block maincontent %}
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b><img src="{% static 'suncoin/img/suncoin-up.png' %}"></b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    {% if msg %}
    <div class="alert alert-success">
      <p>{{msg}}</p>
    </div>
    {% endif %}

    <form action="" method="post" class="form-element captcha-form">
	{% csrf_token %}

      {{ form.as_p }}

      <div class="g-recaptcha" data-sitekey="6Lel4joUAAAAANXEZbdBALuYKU58pxrm1jennXFY"></div>

      <div class="row">
        <div class="col-6">
          <div class="checkbox">
            <input type="checkbox" id="basic_checkbox_1" >
			<label for="basic_checkbox_1">Remember Me</label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-6">
         <div class="fog-pwd">
          	<a href="{% url 'password_reset' %}"><i class="ion ion-locked"></i> Forgot pwd?</a><br>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-block btn-flat margin-top-10 btn-primary">SIGN IN</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="margin-top-30 text-center">
    	<p>Don't have an account? <a href="{% url 'signup' %}" class="text-info m-l-5">Sign Up</a></p>
    </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock maincontent %}