{% extends "suncoin/index.html" %}
{% load static %}

{% block maincontent %}
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b><img src="{% static 'suncoin/img/suncoin-up.png' %}"></b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    {% if msg %}
    <div class="alert alert-success">
      <p>{{msg}}</p>
    </div>
    {% endif %}

    <form action="{% url 'signup' %}" method="post" class="form-element captcha-form">
	{% csrf_token %}

      {% for field in form %}
      <div class="form-group has-feedback">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <!--<small style="color: grey">{{ field.help_text }}</small>-->
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

        <input type="hidden" name="sponsor" value="{{ sponsor }}" />
      </div>
      {% endfor %}

      <div class="g-recaptcha" data-sitekey="6Lel4joUAAAAANXEZbdBALuYKU58pxrm1jennXFY"></div>

      <div class="row">
        <div class="col-12">
          <div class="checkbox">
            <input type="checkbox" id="basic_checkbox_1" >
			<label for="basic_checkbox_1">I agree to the <a href="#"><b>Terms</b></a></label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-block btn-flat margin-top-10 btn-primary">SIGN UP</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    
     <div class="margin-top-20 text-center">
    	<p>Already have an account?<a href="/login" class="text-info m-l-5"> Sign In</a></p>
     </div>
    
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock maincontent %}
