{% extends "dashboard/index.html" %}
{% load static %}

{% block header %}
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
{% endblock header %}

{% block maincontent %}
    <div class="row controller">
        <div class="col-xs-12 col-md-6">
            <div class="box box-primary">
                <div class="lending-controller">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ref/username">
                        <button type="button" class="btn btn-primary">copy</button>
                        <small id="emailHelp" class="form-text text-muted">Get bonus by referring new members <a href="#">learn more</a> </small>
                    </div>
                </div>

                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="box box-primary">
                <div class="right-box-btn">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="button-right-group">
                                <button type="button" class="btn btn-primary btn-lg enable">Lending</button>
                                <button type="button" class="btn btn-primary btn-lg disabled " disabled="">Reinvest</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="button-right-group">
                                <button type="button" class="btn btn-primary btn-lg disabled" disabled="">Convert USD</button>
                                <button type="button" class="btn btn-primary btn-lg enable">Exchange</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 col-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>BTC</h3>

                    <p>0.00000000</p>
                </div>
                <div class="icon">
                    <i class="fa fa-btc"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-xl-3 col-md-6 col-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>ETH<sup style="font-size: 20px"></sup></h3>

                    <p>0.00000000</p>
                </div>
                <div class="icon">
                    <img class="uch-sun" src="{% static 'dashboard/img/eth.png' %}" alt="">
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-xl-3 col-md-6 col-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>SUN</h3>

                    <p>0.0000000</p>
                </div>
                <div class="icon">
                    <i class="fa "><img class="uch-sun" src="{% static 'dashboard/img/sun2.png' %}" alt=""></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-xl-3 col-md-6 col-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>USD</h3>

                    <p>0.0000000</p>
                </div>
                <div class="icon">
                    <i class="fa fa-usd"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <!-- /.row -->
    <div class="row price-earn">
        <div class="col-lg-4 col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title box-title-mid">Today Earn</h3>
                </div>
                <div class="box-body res-tb-block text-center">
                    <img src="../ucoincash/images/usd-ico-yellow.png" alt="alert" class="model_img img-fluid" id="sa-params">
                    <span>0 USD</span>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title box-title-mid">Total Earn</h3>
                </div>
                <div class="box-body res-tb-block text-center">
                    <img src="../ucoincash/images/usd-ico-yellow.png" alt="alert" class="model_img img-fluid" id="sa-params">
                    <span>0 USD</span>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title box-title-mid">Total Lending</h3>
                </div>
                <div class="box-body  res-tb-block text-center">
                    <img src="../ucoincash/images/usd-ico-yellow.png" alt="alert" class="model_img img-fluid" id="sa-params">
                    <span>0 USD</span>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
    <div class="row Balance-history">

        <div class="col-xl-6">
            <!-- PRODUCT LIST -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><span style="margin-right: 30px;"><i class="fa fa-calendar" aria-hidden="true"></i></span>Balance Systems</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Date</strong></td>
                                <td><strong>Percent</strong></td>
                            </tr>
                            <tr>
                                <td>2017-11-29</td>
                                <td>1.5%</td>
                            </tr>
                            <tr>
                                <td>2017-11-28</td>
                                <td>1.5%</td>
                            </tr>
                            <tr>
                                <td>2017-11-27</td>
                                <td>1.5%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6 connectedSortable">
            <!-- bar CHART -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"><span style="margin-right: 30px;"><i class="fa fa-calendar" aria-hidden="true"></i></span>History Lending</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="package-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>Date</b></td>
                                    <td><b>Package Lending</b></td>
                                    <td><b>Amount</b></td>
                                </tr>
                                <tr>
                                    <td>2017-11-29</td>
                                    <td>5</td>
                                    <td>20$</td>
                                </tr>
                                <tr>
                                    <td>2017-11-29</td>
                                    <td>5</td>
                                    <td>20$</td>
                                </tr>
                                <tr>
                                    <td>2017-11-29</td>
                                    <td>5</td>
                                    <td>20$</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
{% endblock maincontent %}